<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<title>上传进度条</title>
<link type="text/css" rel="stylesheet" href="../upload/css/app.css"></link>
<link type="text/css" rel="stylesheet"
	href="../upload/bootstrap/css/bootstrap.css"></link>
<link type="text/css" rel="stylesheet"
	href="../upload/css/progressBar.css"></link>
</head>
<body>
	<h2>文件上传示例</h2>
	<hr />

	<div class="form-container">
		<h1>Welcome to FileUploader Example</h1>
		<p>
			The is <span th:text="welcome "> 928</span>.
		</p>
		<a href="upload" target="_blank">Single File Upload</a> OR <a
			href="uploadfiles" target="_blank">Multi File Upload</a> OR <a
			href="uploads" target="_blank">Multi File Upload 2</a> OR <a
			href="/download" target="_blank">download </a> OR <a
			href="/download/internal" target="_blank">download internal</a>
	</div>
</body>
</html>