<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://cxf.apache.org/jaxrs
       http://cxf.apache.org/schemas/jaxrs.xsd">
	
	<jaxrs:server address="/sys">
        <jaxrs:serviceBeans>
            <ref bean="authoritiesResourcesTreeService"/>
            <ref bean="resourcesService"/>
            <ref bean="rolesService"/>
            <ref bean="authoritiesService"/>
            <ref bean="userServices"/>
            <ref bean="userRolesServices"/>
            <ref bean="authorityResourcesService"/>
            <ref bean="roleAuthoritiesService"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider"/>
        </jaxrs:providers>
    </jaxrs:server>
	
</beans>