<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<title>单个文件上传进度条</title>
<script type="text/javascript" src="../upload/js/jquery.min.js"></script>
<script type="text/javascript" src="../upload/js/progressBar.js"></script>
<link type="text/css" rel="stylesheet" href="../upload/css/app.css"></link>
<link type="text/css" rel="stylesheet"
	href="../upload/bootstrap/css/bootstrap.css"></link>
<link type="text/css" rel="stylesheet"
	href="../upload/css/progressBar.css"></link>
</head>
<body>
	<h2>文件上传示例</h2>
	<hr />

	<iframe id='target_upload' name='target_upload' src=''
		style='display: none'></iframe>
	<div class="form-container">
		<form method="POST" enctype="multipart/form-data"
			action="upload/files" target="target_upload">
			<p>
				文件：<input type="file" name="file" />
			</p>
			<p>
				<input type="submit" value="上传" />
			</p>
		</form>
	</div>
	<div id="progress">
		<div id="title">
			<span id="text">上传进度</span>
			<div id="close">X</div>
		</div>
		<div id="progressBar">
			<div id="uploaded"></div>
		</div>
		<div id="info"></div>
	</div>
</body>
</html>