
<link rel="stylesheet" type="text/css"
	href="/resources/bootstrap/css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="/css/app.css"></link>
<link rel="stylesheet" type="text/css"
	href="/resources/css/font-awesome.min.css"></link>

<div id="mainWrapper">
	<div class="login-container">
		<div class="login-card">
			<div class="login-form">
				<form th:action="@{/login}" method="post" class="form-horizontal">
					<div class="alert alert-danger">
						<p>Invalid username and password.</p>
					</div>
					<div class="alert alert-success">
						<p>You have been logged out successfully.</p>
					</div>
					<div class="alert alert-danger" style=""
						th:if="${param.error != null}">
						<p>Invalid username and password.</p>
					</div>
					<div class="alert alert-success" th:if="${param.logout != null}">
						<p>You have been logged out successfully.</p>
					</div>
					<div class="input-group input-sm">
						<label class="input-group-addon" for="username"><i
							class="fa fa-user"></i></label> <input type="text" class="form-control"
							id="username" name="username" placeholder="Enter Username"
							required="required" />
					</div>
					<div class="input-group input-sm">
						<label class="input-group-addon" for="password"><i
							class="fa fa-lock"></i></label> <input type="password"
							class="form-control" id="password" name="password"
							placeholder="Enter Password" required="required" />
					</div>
					<div class="input-group input-sm">
						<div class="checkbox">
							<label><input type="checkbox" id="rememberme"
								name="remember-me" /> Remember Me</label> <input type="hidden"
								name="${_csrf.parameterName}" value="${_csrf.token}" />
						</div>
					</div>
					<div class="form-actions">
						<input type="submit" class="btn btn-block btn-primary btn-default"
							value="Log in" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
